a#retour{
  content: "\25b2";
    border-radius:3px;
    padding:10px;
    font-size:40px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
    text-decoration: none;
  }
  
  a#retour:before{  }
  a#retour:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
  }
  a#retour.invisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
  }
  
  a#retour.visible{
    bottom:20px;
    opacity:1;
  }