html{
  /* permet le scroll doux en pur CSS3*/
  /* scroll-behavior:smooth; */
}

#retour:before{
  /* fleche vers le haut */
  content:"\25b2";  
  font-size:1.5em;
}


#retour{
  border: 3px solid grey;
  border-radius:3px;
  padding:5px;
  color:white;
  background: grey;
  text-decoration: none;
  position: fixed;
  right: 20px;
  z-index:9999;
  text-decoration: none;
   /* permet de faire la transition au mouseon et mouseout*/
  transition: all ease 0.5s;
}

#retour:hover{
  background:black;
  border:3px solid black;
}

.visible{
  bottom: 10px;
}

.invisible{
  bottom:-50px;
  transition:all ease 0.5s;
}